@import '@/app/global.scss';

.listPage {
    @include pageLayout;
    
    .listContainer{
        flex: 3;
        height: 100%;
    }

    .mapContainer{
        flex: 2;
        background-color: #fcf5f3;
    }
}